{% for item in include.content %}
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-{{item.border | default: 'no'}} {{ item.type | default: 'general' }}">
    <div class="col-xs-12 details {% if item.type == 'publication' %}text-center{% endif %}">
      
      <!-- 제목 -->
      <h4 id="{{ item.title | slugify }}">{{ item.title }}</h4>
      
      <!-- 학위 또는 저자 이름 -->
      {% if item.type == 'education' %}
        <p class="major"><b>{{ item.sub_title }}</b></p>
      {% elsif item.type == 'publication' and item.authors %}
        <p class="authors"><b>{{ item.authors }}</b></p>
      {% endif %}
      
      <!-- 기간 또는 설명 -->
      {% if item.description %}
      <p class="description">{{ item.description | strip | markdownify }}</p>
      {% endif %}
      
      {% if item.type == 'education' %}
        <p class="period">{{ item.caption }}</p>
      {% endif %}
      
      <!-- 링크 -->
      {% if item.link %}
        <p> 
          {% include a.html href=item.link class="link" %}
            {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
          </a>
        </p>
      {% endif %}
      
      <!-- 추가 링크 -->
      {% if item.additional_links %}
        <p class="no-print additional-links">
          {% for link in item.additional_links %}
            {% include a.html href=link.url class="" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </div>
{% endfor %}
